/*I guess we're sticking with the Argentinean Flag Aesthetic for now. ~Daniel*/
body {
  background-color: grey;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family:sans-serif;
}
header, nav, main, footer 
{
    background-color:white;
    display:block;
    margin:25px 100px;
}
header{
    background-color:lightblue;
    width:100%;
    margin:0 0em 0em 0;
    padding:0;
    float:left;
    text-align:left;
}
nav{
   background-color: lightblue;
   font-weight:bold;
   width:100%;
   margin:0 0 1em 0;
   padding:0;
   float:left;
   text-align:center;
}
nav a{
text-decoration:none;
}
nav ul{
list-style-type:none;
margin:0;
padding:0;
}
nav li{
display:inline-block;
}
footer{
    background-color:lightblue;
    width:100%;
    margin:0 0 5em 0;
    padding:0;
    float:left;
    text-align:left;
}
main {
  font-size:90%;
  margin:0;
  padding:2em;
  }
h1, h2, h3, h4, h5, h6, p{
    margin-left:5px;
}
h4{
    text-align:center;
}

/*It's got that early 2000s, only HTML/CSS, chique ~Daniel (I'm sorry)*/
#wrapper
{background-color: #ffffff;
 width:80%;
 min-width:700px;
 max-width:1024px;
 margin-right:auto;
 margin-left:auto; 
 box-shadow:1px 1px;}
 
 /* Taken and Modified from the Civil War letters project (Who took it from someone else that I forget, go look at theirs) */

nav {
    display: flex;
    width: 100%;
    overflow: hidden;
    z-index: 500;
}
nav a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 501;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: Black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropbtn{
    font-weight:bold;
}
nav a:hover, .dropdown:hover .dropbtn {
    background-color: #6699ff;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: hsl(210, 50%, 20%);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* Taken from the Avatar Project */

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #003166;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color:  #b3d7ff;
  border: 4px solid #0073e6;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  font-family: veranda;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
/*a{
    color: (link color here);
}*/

/* Mobile/Small screen support pending
 * "Here Lies Madness." Venture at your own risk.
 * ~Daniel
 * 
 * @media only screen and (max-width: 1024px)
{body
 {background-image: none;
  margin: 0;}
 #wrapper
 {box-shadow:none;
  margin:0;
  min-width:0;
  width:auto;}
    h1 {
     background-position: center;
     background-repeat: no-repeat;
     height: 80px;}
 nav{float:none;
     margin-top:0;
     padding-top:0;
     width:auto;}
 nav li
 {display:inline-block;}
 nav ul
 {margin:0;
  padding:0;}
 main
 {font-size:90%;
  margin:0;
  padding:2em;}}
@media only screen and (max-width: 768px)
{h2
 {padding:.5em 0em 0em .5em;
  margin-right:.5em;}
 nav a{border-bottom:1px #330000;
       display:block;
       padding:0.2em;
       width:auto;}
 nav li
 {display:block}
 .details
 {padding-left:0;
  padding-right:0;}
 .floatright
 {display:none;}
 .floatleft
 {padding-left:.5em;
  padding-right:.5em;}} */